a {
  text-decoration: none;
}
  
  /* HOME */

.HomePage {
  background-color: #F0F2EB;
  height: 100vh;
  background: url("./assets/wallpaper.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
}

.BtnHome {
  background-color: #272b33;
  color: white;
  border: 2px solid #272b33;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  font-weight: 900;
  font-size: 40px;
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
  cursor: pointer;
}

.BtnHome:hover {
  background-color: #A7CB54;
  border: 2px solid #A7CB54;
  color: #272b33;
  font-weight: 900;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

  /* CHARACTERS */

    .AllCharacters {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    
    }
    figure {
      width: 300px;
      height: auto;
      display: grid;
      border-radius: 1rem;
      overflow: hidden;
      cursor: pointer;
    }
    figure > * {
      grid-area: 1/1;
      transition: .4s;
    }
    figure figcaption {
      display: grid;
      align-items: end;
      font-family: sans-serif;
      font-size: 3rem;
      line-height: 2.8rem;
      font-weight: bold;
      color: #0000;
      padding: .75rem;
      background: var(--c,#0009);
      clip-path: inset(0 var(--_i,100%) 0 0);
      -webkit-mask:
        linear-gradient(#000 0 0),
        linear-gradient(#000 0 0);
      -webkit-mask-composite: xor;
      -webkit-mask-clip: text, padding-box;
    }


    figure:hover figcaption{
      --_i: 0%;
    }
    figure:hover img {
      transform: scale(1.2);
    }
    @supports not (-webkit-mask-clip: text) {
      figure figcaption {
       -webkit-mask: none;
       color: #fff;
      }
    }

    .iconDetails {
      color:white;
      font-size:40px !important;

    }

    .iconDetails:hover {
      color:#A7CB54;
    }

    /* SINGLE CHARACTER */